<!DOCTYPE html>
<html>
<!-- /.head -->
<%- include('layouts/head', {title: 'Invoices Management'}); -%>

<body>
  <!--/.navbar -->
  <%- include('layouts/navbar'); -%>

  <!--/.sidebar-->
  <%- include('layouts/sidebar'); -%>

  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
      <ol class="breadcrumb">
        <li>
          <a href="/admin/dashboard">
            <svg class="glyph stroked home">
              <use xlink:href="#stroked-home"></use>
            </svg>
          </a>
        </li>
        <li class="active">Invoices List</li>
      </ol>
    </div>
    <!--/.row-->

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Invoices List</h1>
      </div>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <table data-toolbar="#toolbar" data-toggle="table">
              <thead>
                <tr>
                  <th data-field="id" data-sortable="true">#</th>
                  <th data-field="name" data-sortable="true">Username</th>
                  <th>Email</th>
                  <th>Total Money</th>
                  <th data-sortable="true">Total Products</th>
                </tr>
              </thead>
              <tbody><% var i = 0;%>
                <% for (let invoice of invoices) {%>
                <tr>
                  <td><%= ++i %></td>
                  <td><%= invoice.user_id.username %></td>
                  <td><%= invoice.user_id.email %></td>
                  <td><%= invoice.totalMoney %></td>
                  <td><%= invoice.totalItems %></td>
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
          <%- include('layouts/pagination', {namepage: 'invoice'}); -%>
          </div>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.main-->

    <%- include('layouts/script'); -%>
</body>

</html>